* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.Header {
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  background-color: rgb(255, 27, 36);
}

.NavBar {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.Review {
  width: 95vw;
  height: fit-content;

  margin: 1vw;
  padding: 1vw;

  border-radius: 10px;
  background-color: rgb(240, 240, 240);

  position: relative;
  display: inline-block;
  text-align: center;
}

.Review .ImageAndVotes {
  float: left;
}

.Review img {
  width: 90px;
  height: 90px;

  padding: 10px;
  padding-bottom: 0px;
}

.Review .Title {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

.Review .ReviewInfo {
  font-size: 14px;
  font-weight: 250;

  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Review .ReviewInfo span {
  margin: 6px;
  padding: 1px;
  border-top: solid 1px rgb(112, 112, 112);
  border-bottom: solid 1px rgb(112, 112, 112);
}

.Review .ReviewBody {
  text-align: justify;
  font-size: 14px;
}

.Review .UpVote {
  width: 30px;
  height: 30px;
  margin: 0;
  line-height: 100%;
  background-color: rgb(141, 199, 141);

  border-radius: 3px;
}

.Review .DownVote {
  width: 30px;
  height: 30px;
  margin: 0;
  line-height: 100%;
  background-color: rgb(231, 136, 107);

  border-radius: 3px;
}

.Review .UpVote:hover {
  cursor: pointer;
  background-color: rgb(180, 241, 152);
}

.Review .DownVote:hover {
  cursor: pointer;
  background-color: rgb(241, 195, 183);
}

.Review .UpVote:disabled {
  cursor: default;
  background-color: rgb(218, 218, 218);
}

.Review .DownVote:disabled {
  cursor: default;
  background-color: rgb(218, 218, 218);
}

.Review button {
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
}

.Dropdown {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.AddComment .Text {
  width: 70vw;
  height: 30px;
  border-radius: 5px;
  border: solid 1px rgb(240, 240, 240);
}

.AddComment .Submit {
  width: 60px;
  height: 30px;
  margin-left: 0px;
  padding: 0;
  border-radius: 5px;
}

.Comments {
  display: inline-block;
}

.Comment {
  display: flex;
  flex-direction: row;
  margin: 5px;
  font-weight: 400;

  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  padding: 10px;

  align-items: center;
}

.Comment button {
  padding: 5px;
  margin-left: auto;
}

.Comment .Author {
  font-weight: 600;
}

.Comment .Timestamp {
  font-weight: 300;
}

@media screen and (max-width: 400) {
  .Review .ReviewInfo {
    flex-direction: column;
  }
}
